{% extends "base.html" %}
{% block title %}Index{%endblock%}

{% block content %}



<div>
  <form method="POST">
    <!--启动CSRF-->
    {{ form.hidden_tag() }}
    <p id=rcorners1 class="center">name：{{ form.name }}</p>
    <p id=rcorners1 class="center">body：{{ form.body }}</p>
    <p style="text-align:center;margin-left:50%"><button class="button" type="submit">提交</button></p>
  </form>
</div>
<div>
  <h3 style="text-align:center;margin-left:40%">
    {{messages|length}} messages
    <a href=" #bottom" title="Go Bottom">
      <font color="green">返回底部</font>
    </a>
  </h3>
</div>

<!-- 调用上下文处理器获取到的数据 -->
<!-- number={{number}}
admin={{admin}} -->
<div class="center-in-center">
  {% for message in messages %}
  <p class="center">
    <font color="blue">#{{loop.revindex}}</font>

    <b>
      <font color="purple" size=4>{{ message.name }}:</font>
    </b>
    <br>
    {{ message.body }}
  </p>
  {%endfor%}
</div>


{%endblock%}